/*

!.gitignore

!CLAUDE.md

!env/
env/*
!env/_sample.env

!nginx/
nginx/*
!nginx/etc/
nginx/etc/*
!nginx/etc/nginx.conf
!nginx/etc/templates
nginx/etc/templates/*
!nginx/etc/templates/default.conf.template

!wordpress/
wordpress/*
!wordpress/src
wordpress/src/*
!wordpress/src/.gitkeep