/*

!.gitignore

!CLAUDE.md
!README.md

!docker_down.sh
!docker_logs.sh
!docker_up.sh
!docker-compose.yml

!data/
data/*
!data/mysql
data/mysql/*
!data/mysql/.gitkeep
!data/nginx
data/nginx/*
!data/nginx/certs
data/nginx/certs/*
!data/nginx/certs/.gitkeep

!env/
env/*
!env/_sample.env

!nginx/
nginx/*
!nginx/etc/
nginx/etc/*
!nginx/etc/nginx.conf
!nginx/etc/templates
nginx/etc/templates/*
!nginx/etc/templates/default.conf.template

!wordpress/
wordpress/*
!wordpress/src
wordpress/src/*
!wordpress/src/.gitkeep