version: '3.1'

services:

  wordpress:
    image: wordpress:6.0-php7.4-apache
    depends_on:
      - mysql
    restart: always
    expose:
      - 80
    networks:
      wp-docker-network:
        aliases:
          - wp-docker-network-wordpress
    env_file:
      - ./wordpress/.env_dev
    volumes:
      - ./wordpress/src:/var/www/html:rw

  mysql:
    image: mysql:5.7
    restart: always
    ports:
      - 10000:3306
    networks:
      wp-docker-network:
    env_file:
      - ./mysql/.env_dev
    volumes:
      - ../data/mysql:/var/lib/mysql:rw

  nginx:
    image: nginx:1.21.6
    depends_on:
      - wordpress
    volumes:
      - ./nginx/etc/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/etc/templates/default.conf.template:/etc/nginx/templates/default.conf.template:ro
      - ../data/nginx/certs:/etc/nginx/certs
    ports:
     - "127.0.0.3:80:80"
     - "127.0.0.3:443:443"
    networks:
      wp-docker-network:
    env_file:
      - ./nginx/.env_dev

networks:
  wp-docker-network:
